*
{
	padding: 0px;
	margin: 0px;
}
body{
	font-family: 'Nunito', sans-serif;
	font-weight: 300;
	font-size: 11pt;
}
a
{
	text-decoration: none;
}

p a
{
	color: black;
}

p a:hover
{
	color: #b73533;
	text-decoration: underline;
}
input,textarea{outline: none:}
:lang(en)
{
	font-family: 'Nunito', sans-serif;
	font-weight: 300;
	font-size: 11pt;
}

:lang(zh)
{
	font-family: Microsoft Yahei, STHeiti, SimHei, sans-serif;
	font-size:16px;
}

.red
{
color: #333;	
}

.underline
{
text-decoration: underline;
padding-bottom:8px;
}
#logo-menu,
#lang-sm
{
	position: fixed;
	z-index: 100;
}

#logo-menu
{
	top: 0px;
	left: 0px;
}

#logo-menu-top
{
	position: absolute;
	z-index: 100;
}

#logo-menu-top::before
{
	content: "";
	position: absolute;
	background-color: #b73533;
	top: 0px;
	left: -340px;
	left: -webkit-calc(-675px / 2);
	left: -moz-calc(-675px / 2);
	left: calc(-675px / 2);
	height:270px;
	height: -webkit-calc(((675px) / 5) * 2);
	height: -moz-calc(((675px) / 5) * 2);
	height: calc(((675px) / 5) * 2);
	width: 675px;
	-webkit-transform: skewx(-68.198590513648188229755133913056deg);
	-moz-transform: skewx(-68.198590513648188229755133913056deg);
	-o-transform: skewx(-68.198590513648188229755133913056deg);
	-ms-transform: skewx(-68.198590513648188229755133913056deg);
	transform: skewx(-68.198590513648188229755133913056deg);
}
#logo-img,
#menu-img
{
	position: absolute;
	left: 48px;
	vertical-align: top;
	z-index:9999999999;
}
#logo-img-link{
   width:174px;
   height:175px;
}
#logo-img
{
	top: 40px;
}

#menu-img
{
	top: 138px;
}

#logo-menu:hover #menu-img
{
	opacity: 0;
}

nav
{
	position: absolute;
	top:270px;
	top: -webkit-calc(((675px) / 5) * 2);
	top: -moz-calc(((675px) / 5) * 2);
	top: calc(((675px) / 5) * 2);
	left: -280px;
	left: -webkit-calc(-240px - 40px);
	left: -moz-calc(-240px - 40px);
	left: calc(-240px - 40px);
	z-index: 98;
}

#logo-menu:hover nav
{
	left: 0px;
}

nav::before
{
	content: "";
	position: absolute;
	background-color: #333333;
	z-index: 98;
	top: -270px;
	top: -webkit-calc(((-675px) / 5) * 2);
	top: -moz-calc(((-675px) / 5) * 2);
	top: calc(((-675px) / 5) * 2);
	left:-497.5px;
	left: -webkit-calc(((675px + 240px + 80px) / 2) * -1);
	left: -moz-calc(((675px + 240px + 80px) / 2) * -1);
	left: calc(((675px + 240px + 80px) / 2) * -1);
	height: 398px;
	height: -webkit-calc((675px + 240px + 80px) / 5 * 2);
	height: -moz-calc((675px + 240px + 80px) / 5 * 2);
	height: calc((675px + 240px + 80px) / 5 * 2);
	width: 995px;
	width: -webkit-calc(675px + 240px + 80px);
	width: -webkit-calc(675px + 240px + 80px);
	width: calc(675px + 240px + 80px);
	-webkit-transform: skewx(-68.198590513648188229755133913056deg);
	-moz-transform: skewx(-68.198590513648188229755133913056deg);
	-o-transform: skewx(-68.198590513648188229755133913056deg);
	-ms-transform: skewx(-68.198590513648188229755133913056deg);
	transform: skewx(-68.198590513648188229755133913056deg);
}

nav::after
{
	content: "";
	position: absolute;
	background-color: #b73533;
	z-index: 50;
	top: -270px;
	left: -517.5px;
	height:414px;
	width:1035px;
	top: calc(((-675px) / 5) * 2);
	left: calc(((675px + 240px + 120px) / 2) * -1);
	height: calc((675px + 240px + 120px) / 5 * 2);
	width: calc(675px + 240px + 120px);
	-webkit-transform: skewx(-68.198590513648188229755133913056deg);
	-moz-transform: skewx(-68.198590513648188229755133913056deg);
	-o-transform: skewx(-68.198590513648188229755133913056deg);
	-ms-transform: skewx(-68.198590513648188229755133913056deg);
	transform: skewx(-68.198590513648188229755133913056deg);
}

nav ul
{
	list-style-type: none;
}

nav > ul > li > a
{
	z-index: 99;
}

nav a
{
	height: 16px;
	padding-top: 8px;
	padding-bottom: 8px;
	color: white;
	text-decoration: none;
	position: relative;
	display: inline-block;
	width: 240px;
	padding-left: 40px;
	padding-right: 40px;
	-webkit-transform: skewx(-68.198590513648188229755133913056deg);
	-moz-transform: skewx(-68.198590513648188229755133913056deg);
	-o-transform: skewx(-68.198590513648188229755133913056deg);
	-ms-transform: skewx(-68.198590513648188229755133913056deg);
	transform: skewx(-68.198590513648188229755133913056deg);
}

nav > ul > li > a
{
	left: -1.5px;
	padding-left: 41.5px;
	padding-right: 41.5px;
}

nav > ul > li > ul > li > a
{
	left: -1.5px;
	padding-left: 41.5px;
}

nav > ul > li > a
{
	background-color: rgba(183, 53, 51, 0);
}

nav > ul > li:hover > a
{
	background-color: #b73533;
}

nav > ul ul > li > a
{
	background-color: rgba(51, 51, 51, 0);
}

nav > ul ul > li:hover > a
{
	background-color: #333333;
}

nav a span
{
	display: inline-block;
	-webkit-transform: skewx(68.198590513648188229755133913056deg);
	-moz-transform: skewx(68.198590513648188229755133913056deg);
	-o-transform: skewx(68.198590513648188229755133913056deg);
	-ms-transform: skewx(68.198590513648188229755133913056deg);
	transform: skewx(68.198590513648188229755133913056deg);
}

nav > ul,
nav > ul > li,
nav > ul > li > ul,
nav > ul > li > ul > li
{
	width: 320px;
	position: absolute;
}

nav > ul > li:nth-child(1){bottom: 128px; left: 360px;}
nav > ul > li:nth-child(2){bottom: 96px; left: 280px;}
nav > ul > li:nth-child(3){bottom: 64px; left: 200px;}
nav > ul > li:nth-child(4){bottom: 32px; left: 120px;}
nav > ul > li:nth-child(5){bottom: 0px; left: 40px;}
nav > ul > li:nth-child(1){bottom: calc(4 * 32px); left: calc(40px + 4 * 80px);}
nav > ul > li:nth-child(2){bottom: calc(3 * 32px); left: calc(40px + 3 * 80px);}
nav > ul > li:nth-child(3){bottom: calc(2 * 32px); left: calc(40px + 2	* 80px);}
nav > ul > li:nth-child(4){bottom: calc(1 * 32px); left: calc(40px + 1 * 80px);}
nav > ul > li:nth-child(5){bottom: calc(0 * 32px); left: calc(40px + 0 * 80px);}

nav > ul ul
{
	top: 0px;
	left: 0px;
	z-index: 97;
}

nav > ul ul a
{
	z-index: 98;
}

nav > ul > li:hover ul
{
	left: 320px;
}

nav > ul ul
{
	z-index: 97;
}

nav > ul ul > :nth-child(1){top: 0px; left: 0px;}
nav > ul ul > :nth-child(2){top: 32px; left: -80px;}
nav > ul ul > :nth-child(3){top: 64px; left: -160px;}
nav > ul ul > :nth-child(4){top: 96px; left: -240px;}

nav > ul ul::before
{
	content: "";
	position: fixed;
	background-color: #b73533;
	height: 526px;
	width: 1315px;
	height: calc(((675px + (240px + 80px) * 2) / 5) * 2);
	width: calc(675px + (240px + 80px) * 2);
	top: 0px;
	left: -1875px;
	left: calc((-675px - (240px + 80px) * 2) / 2 - 2 * (240px + 80px) + 80px);
	-webkit-transform: skewx(-68.198590513648188229755133913056deg);
	-moz-transform: skewx(-68.198590513648188229755133913056deg);
	-o-transform: skewx(-68.198590513648188229755133913056deg);
	-ms-transform: skewx(-68.198590513648188229755133913056deg);
	transform: skewx(-68.198590513648188229755133913056deg);
}

#logo-menu:hover nav > ul li ul::before
{
	left:-977.5px;
	left: calc((-675px - (240px + 80px) * 2) / 2 - (240px + 80px));
}

#logo-menu:hover nav ul li:hover ul::before
{
	left:-657.5px;
	left: calc((-675px - (240px + 80px) * 2) / 2);
}

nav,
nav > ul > li ul,
nav > ul ul::before
{
	-webkit-transition: left 500ms ease-in-out;
	-moz-transition: left 500ms ease-in-out;
	-o-transition: left 500ms ease-in-out;
	-ms-transition: left 500ms ease-in-out;
	transition: left 500ms ease-in-out;
}

#menu-img
{
	-webkit-transition: opacity 250ms ease-in-out;
	-moz-transition: opacity 250ms ease-in-out;
	-o-transition: opacity 250ms ease-in-out;
	-ms-transition: opacity 250ms ease-in-out;
	transition: opacity 250ms ease-in-out;
}

nav a
{
	-webkit-transition: background 250ms ease-in-out;
	-moz-transition: background 250ms ease-in-out;
	-o-transition: background 250ms ease-in-out;
	-ms-transition: background 250ms ease-in-out;
	transition: background 250ms ease-in-out;
}

nav a img
{
	position: relative;
	top: 2px;
	vertical-align:top;
}

#lang-sm
{
	right: 0px;
	bottom: 0px;
}

#lang-sm::before
{
	content: "";
	position: absolute;
	background-color: #333333;
	bottom: 0;
	right:-200px;
	height:160px;
	right: calc(-400px / 2);
	height: calc((400px) / 5 * 2);
	width: 400px;
	-webkit-transform: skewx(-68.198590513648188229755133913056deg);
	-moz-transform: skewx(-68.198590513648188229755133913056deg);
	-o-transform: skewx(-68.198590513648188229755133913056deg);
	-ms-transform: skewx(-68.198590513648188229755133913056deg);
	transform: skewx(-68.198590513648188229755133913056deg);
	z-index: 50;
}

#language, #sm
{
	z-index: 999999999;
}

#language
{
	color: white;
	font-size: 1.05em;
	text-decoration: none;
	text-align: right;
	display: block;
	position: absolute;
	bottom: 50px;
	right: 12px;
	width: auto;
	padding-left:70px;
	padding-left: calc((1.25em + 2 * 4px) / 2 * 5);
}

#language:hover
{
	opacity: 0.8;
}

#language span
{
	padding: 8px;
}

#sm
{
	padding: 8px;
	position: relative;
}

#sm > a
{
	-webkit-transition: background 250ms ease-in-out;
	-moz-transition: background 250ms ease-in-out;
	-o-transition: background 250ms ease-in-out;
	-ms-transition: background 250ms ease-in-out;
	transition: background 250ms ease-in-out;
	display: inline-block;
	height: 32px;
	width: 32px;
	padding: 2px;
}

#facebook
{
	background-color: rgba(72,101,160,0);
}

#linkedin
{
	background-color: rgba(9,119,181,0);
}

#twitter
{
	background-color: rgba(107,171,225,0);
}

#wechat
{
	background-color: rgba(120,171,52,0);
}

#facebook:hover
{
	background-color: rgba(72,101,160,1);
}

#linkedin:hover
{
	background-color: rgba(9,119,181,1);
}

#twitter:hover
{
	background-color: rgba(107,171,225,1);
}

#wechat:hover
{
	background-color: rgba(120,171,52,1);
}
/*****homepage buttom block*****/
.cbox-left{
   width:42%;
   float:left;
   height:100%;
   text-align:center;
   padding-top:3.5%;
}
.cbox-middle{
  width:8%;
  float:left;
  text-align:center;
}
.cbox-middle img{
  height:100%;
  max-height:144px;
}
.cbox-right{
  width:45%;
  float:right;
  height:100%;
}
.regform{
  width:80%;
  margin-left:6%;
  padding-left:9%;
  margin-top:0px;
  padding-top:0px;
}
.regform > div > div{
  width:120px;
  text-align:right;
}
.regform > div.input {
  height:25px;
  margin-bottom:2px;
}
.regform .inputBox{
  width:62%;
}
.regform .inputBox input{
  width:100%;
}
.regform .submit{
  width:95.5%;
  margin-right:5%;
  width:62.5%\9\0;
  margin-left:33.4%\9\0;
}
.cbox-desc{
  width:86%;
  margin-left:12%;
  margin-left:18%\9\0;
  text-align:center;
  line-height:110%;
}
#bigwechat{width:221px;height:273px;position:absolute;z-index:9999;top:-263px;right:10px;display:none;}

/**********inner pages*******/
#content
{
    margin-top:18%;
	margin-bottom:10%;
	margin-top: calc(((675px + 100px) - (50vw - 500px)) / 5 * 2);
	margin-bottom: calc(((400px + 100px) - (50vw - 500px)) / 5 * 2);
	min-height:550px;
}
#content h1 {
padding-right: 0.5em;
padding-top: 1em;
}
#content .mainDouble{width:1000px;margin-left:15%; margin-left: calc(50% - 500px);margin-top:20px;}
#content .mainDouble div{width:49%;}

#content > h1,
#content > p,
#content > ul
{
	margin-left:15%;
	margin-left: calc(50% - 500px);
	max-width: 1000px;
}

#content > h1 img,
#content > p img
{
	vertical-align: baseline;	
}

#content > h1:nth-of-type(1) img
{
	height: 36px;
}

#content > h1 img
{
	height: 24px;
}


#content > h1
{
	float: left;
	padding-right: 0.5em;
	padding-top: 1em;
}

#content > h1 a:hover
{
	opacity: 0.8;
}

#content > p
{
	text-align: justify;
}

#content > p,
#content > ul
{
	padding-bottom: 0.5em;
}

#content > h1:nth-of-type(1)+p
{
	padding-top:36px;
	padding-top: calc(36px);
}

#content > h1+p
{
	padding-top:24px;
	padding-top: calc(24px);
}

#content ul
{
	list-style-position:inside;
	list-style-image: url('/bullet.png');
}

#content .image
{
	padding: 24px;
}

#content .image p
{
	font-size: 0.95em;
	text-align: center;
}

#content .image.left
{
	float: left;
	margin-left: calc(50% - 500px - 80px);
}

#content .image.right
{
	float: right;
	margin-right: calc(50% - 500px - 80px);
}
.team-member-right{
    margin-top:14px;
}
#content .profile .thumbnails p{font-weight:400;}
.profile
{
	margin-top: 16px;
	margin-left:15%;
	margin-left: calc(50% - 500px);
	clear: both;
	padding-bottom: 32px;
	min-height:324px;
	min-height: calc(300px + (32px + 16px) / 2);
}

.profile .name-image
{
	width: 400px;
	height:324px;
	height: calc(300px + (32px + 16px) / 2);
	float: left;
	padding-right: 16px;
}

.profile .name-image h1
{
	text-align: center;
}

.profile .name-image h1 img
{
	background-color: white;
	padding: 8px;
	
}

.profile .name-image > img
{
	position: relative;
	z-index: -1;
	top:-24px;
	top: calc(-1 * (32px + 16px) / 2);
}

.profile p, .profile ul
{
	width: 1000px;
	text-align: justify;
	padding-bottom: 0.5em;
}

.profile .name-image+*
{
	padding-top:24px;
	padding-top: calc((40px + 8px) / 2);
}

.clearfix {
	*zoom: 1;
}
.clearfix:before,
.clearfix:after {
	display: table;
	content: "";
	line-height: 0;
	font-size:0;
	height:0;
}
.clearfix:after {
	clear: both;
}
a.book-now {
display: block;
padding: 8px;
background-color: #333333;
height: 12px;
width: 244px;
-webkit-transition: background 250ms ease-in-out;
-moz-transition: background 250ms ease-in-out;
-o-transition: background 250ms ease-in-out;
-ms-transition: background 250ms ease-in-out;
transition: background 250ms ease-in-out;
}
a.book-now:hover
{
	background-color: #b73533;
}

a.book-now img
{
	vertical-align: text-top !important;
}
/*新添加的样式*/
#index-title{display:none;}
.caption-left img{display:none;}
img{border:none;}
#content .image.resRight{padding-top:0px; margin-right: calc(50% - 500px);}
.inputBox{border:none;width:440px; background:none;float:left; overflow:hidden;}
.inputBox input{border:none;width:440px;}
.inputBox textarea{border:none;width:460px;}
#content .image.content-right-img{padding-top: 0px; margin-right: calc(50% - 500px);}
/********屏幕小于800的手持设备显示效果********/
@media only screen and (max-width:1024px) {
  /*****顶部开始*****/
  #html5nav{
    display:none;
  }
  #logo-menu{
	 width:100%;
	 height:120px;
	 background-color:#b73533;
	 position:relative;
  }
  #logo-menu-top::before
  {
	  content: "";
	  position: absolute;
	  background-color: #b73533;
	  top: 0px;
	  left: 0;
	  height: auto;
	  width: 100%;
	  -webkit-transform: none;
	  -moz-transform: none;
	  -o-transform: none;
	  -ms-transform: none;
	  transform: none;
  }
  #logo-menu-top{
     height:100px;
	 width:100%;
	 position:relative;
  }
  #logo-img{
	 position:relative;
	 left:0;
	 top:0;
	 width:40%;
     max-width:174px;
	 max-height:75px;
	 float:left;
	 margin-top:26px;
	 margin-left:10px;
  }
  #menu-img{
	 position:relative;
	 left:0;
	 top:0;
	 width:50%;
	 height:50%;
    max-width:97px;
	max-height:24px;
	float:right;
	margin-top:40px;
	margin-right:10px;
	cursor:pointer;
  }
  #logo-menu:hover #menu-img
  {
	  opacity: 1;
  }
  /**导航条**/
  nav{
   position:relative;
   left:0;
   top:0;
   width:100%;
   background-color:#b73533;
  }
  nav::before
  {
	  content: "";
	  position: absolute;
	  background-color: none;
	  top: 0;
	  left:0;
	  height:auto;
	  width: 100%;
	  -webkit-transform:none;
	  -moz-transform:none;
	  -o-transform:none;
	  -ms-transform:none;
	  transform:none;
  }
  
  nav::after
  {
	  content: "";
	  position: absolute;
	  background-color: #b73533;
	  z-index: 50;
	  top:0;
	  left:0;
	  height:auto;
	  width:100%;
	  -webkit-transform: none;
	  -moz-transform: none;
	  -o-transform: none;
	  -ms-transform: none;
	  transform: none;
  }
  
  nav ul
  {
	  list-style-type: none;
  }
  nav ul{
	position:relative;
	left:0;
	top:0;
	width:100%;
  }
  nav ul li{
	position:relative;
	left:0;
	top:0;
	width:95%;
	height:auto;
	padding-left:5%;
	cursor:pointer;
  }
  
  nav > ul > li > a
  {
  }
  
  nav a
  {
	  height: 16px;
	  padding-top: 8px;
	  padding-bottom: 8px;
	  color: white;
	  text-decoration: none;
	  position: relative;
	  display: inline-block;
	  width: auto;
	  padding-left: 40px;
	  padding-right: 40px;
	  -webkit-transform: none;
	  -moz-transform: none;
	  -o-transform: none;
	  -ms-transform: none;
	  transform: none;
  }
  
  nav > ul > li > a
  {
	  left: 0;
	  padding-left: 0;
	  padding-right: 0;
  }
  
  nav > ul > li > ul > li > a
  {
	  left:0;
	  padding-left: 0;
  }
  
  nav > ul > li > a
  {
	  background-color:#b73533;
  }
  
  nav > ul > li:hover > a
  {
	  background-color:#333;
  }
  
  nav > ul ul > li > a
  {
	  background-color:#b73533;
  }
  
  nav > ul ul > li:hover > a
  {
	  background-color: #333333;
  }
  
  nav a span
  {
	  display: inline-block;
	  -webkit-transform: none;
	  -moz-transform: none;
	  -o-transform: none;
	  -ms-transform: none;
	  transform: none;
  }
  
  nav > ul,
  nav > ul > li > ul
  {
	  width: 100%;
	  position:relative;
  }
  nav > ul > li{
	  width: 95%;
	  position:relative;
  }
  nav > ul > li > ul > li{
	  width: 95%;
	  position:absolute;
  }
  
  nav > ul > li:nth-child(1){bottom: 128px; left: 0; background:url(downarrow.png) #333333 90% 10px no-repeat;border-bottom:1px solid #b73533;}
  nav > ul > li:nth-child(2){bottom: 96px; left: 0; background:url(downarrow.png) #333333 90% 10px no-repeat;}
  nav > ul > li:nth-child(1):hover{bottom: 128px; left: 0; background:url(downarrow.png) #b73533 90% 10px no-repeat;}
  nav > ul > li:nth-child(2):hover{bottom: 96px; left: 0; background:url(downarrow.png) #b73533 90% 10px no-repeat;}
  nav > ul > li:nth-child(3){bottom: 64px; left: 0; border-top:1px solid #b73533;}
  nav > ul > li:nth-child(4){bottom: 32px; left: 0;}
  nav > ul > li:nth-child(5){bottom: 0px; left: 0;}
  nav > ul > li:nth-child(3):hover{bottom: 64px; left: 0; background-color:#333; border-top:1px solid #b73533;}
  nav > ul > li:nth-child(4):hover{bottom: 32px; left: 0; background-color:#333;}
  nav > ul > li:nth-child(5):hover{bottom: 0px; left: 0; background-color:#333;}
  nav > ul > li:nth-child(1) a{background-color:#333;}
  nav > ul > li:nth-child(1):hover a{background-color:#b73533;}
  nav > ul > li:nth-child(2) a{background-color:#333;}
  nav > ul > li:nth-child(2):hover a{background-color:#b73533;}
  nav > ul > li:nth-child(1) ul
  {
	  top: 1px;
	  left: 0px;
	  height:0px;
	  overflow:hidden;
	  display:none;
	  /*transition:height 1s;  下拉动画*/
  }
  nav > ul > li:nth-child(1):hover ul
  {
	  height:64px; /*与上一条transition配合组成下拉动画*/
  }
  nav > ul > li:nth-child(2) ul
  {
	  top: 0px;
	  left: 0px;
	  height:0px;
	  overflow:hidden;
	  display:none;
	  /*transition:height 1s;  下拉动画*/
  }
  nav > ul > li:nth-child(2):hover ul
  {
	  height:128px; /*与上一条transition配合组成下拉动画*/
  }
  nav > ul ul a
  {
	  background-color:#333;
  }
    
  nav > ul > li:hover ul
  {
	  left: 0;
	  background-color:#333;
  }
  
  nav > ul ul
  {
	  background-color:#333;
  }
  
  nav > ul ul > :nth-child(1){top: 0px; left: 0px;}
  nav > ul ul > :nth-child(2){top: 32px; left: 0px;}
  nav > ul ul > :nth-child(3){top: 64px; left: 0;}
  nav > ul ul > :nth-child(4){top: 96px; left: 0;}
  
  nav > ul ul::before
  {
	  content: "";
	  position: fixed;
	  background-color: #333;
	  height: auto;
	  width: 100%;
	  top: 0px;
	  left: 0;
	  -webkit-transform: none;
	  -moz-transform: none;
	  -o-transform: none;
	  -ms-transform: none;
	  transform: none;
  }
  
  #logo-menu:hover nav > ul li ul::before
  {
	  left: 0;
  }
  
  #logo-menu:hover nav ul li:hover ul::before
  {
	  left: 0;
  }
    
  nav,
  nav > ul > li ul,
  nav > ul ul::before
  {
	  -webkit-transition: none;
	  -moz-transition: none;
	  -o-transition: none;
	  -ms-transition: none;
	  transition: none;
  }
  
  #menu-img
  {
	  -webkit-transition: opacity 250ms ease-in-out;
	  -moz-transition: opacity 250ms ease-in-out;
	  -o-transition: opacity 250ms ease-in-out;
	  -ms-transition: opacity 250ms ease-in-out;
	  transition: opacity 250ms ease-in-out;
  }
  
  nav a
  {
	  -webkit-transition: none;
	  -moz-transition: none;
	  -o-transition: none;
	  -ms-transition: none;
	  transition: none;
  }
  
  nav a img
  {
	  position: relative;
	  top: 2px;
  }
  nav > ul:hover > li:hover > ul > li > a
  {
	  background-color:#333;
  }
  /******页脚开始*******/
  #lang-sm
  {
	  right: 0px;
	  bottom: 0px;
	  width:100%;
	  height:50px;
  }
  
  #lang-sm::before
  {
	  content: "";
	  position: absolute;
	  background-color: #333333;
	  bottom: 0;
	  right: 0;
	  height:50px;
	  width: 100%;
	  -webkit-transform: none;
	  -moz-transform: none;
	  -o-transform: none;
	  -ms-transform:none;
	  transform:none;
	  z-index: 50;
  }
  
  #language, #sm
  {
	  z-index: 100;
  }
  
  #language
  {
	  color: white;
	  font-size: 1.05em;
	  text-decoration: none;
	  text-align: right;
	  display: block;
	  position: absolute;
	  bottom: 10px;
	  right: 12px;
	  width: 100px;
	  padding-left:0px;
	  z-index:101;
  }
  
  #language:hover
  {
	  opacity: 0.8;
  }
  
  #language span
  {
	  padding: 8px;
  }
  
  #sm
  {
	  padding: 8px;
	  position: relative;
	  padding-left:60px;
	  z-index:999999;
	  width:50%;
  }
  
  #sm > a
  {
	  -webkit-transition: background 250ms ease-in-out;
	  -moz-transition: background 250ms ease-in-out;
	  -o-transition: background 250ms ease-in-out;
	  -ms-transition: background 250ms ease-in-out;
	  transition: background 250ms ease-in-out;
	  display: inline-block;
	  height: 32px;
	  width: 32px;
	  padding: 2px;
  }
    
  #facebook
  {
	  background-color: rgba(72,101,160,0);
  }
  
  #linkedin
  {
	  background-color: rgba(9,119,181,0);
  }
  
  #twitter
  {
	  background-color: rgba(107,171,225,0);
  }
  
  #wechat
  {
	  background-color: rgba(120,171,52,0);
  }
  
  #facebook:hover
  {
	  background-color: rgba(72,101,160,1);
  }
  
  #linkedin:hover
  {
	  background-color: rgba(9,119,181,1);
  }
  
  #twitter:hover
  {
	  background-color: rgba(107,171,225,1);
  }
  
  #wechat:hover
  {
	  background-color: rgba(120,171,52,1);
  }
  #bigwechat{
    width:221px;
	height:273px;
	position:absolute;
	z-index:999;
	left:10px;
	bottom:0px;
  }
  /*****首页内容开始*****/
  .mainDiv{
    width:100%;
	min-height:850px;
	position:absolute;
	left:0;
	top:120px;
	z-index:-1;
  }
  #slideshow
  {
    width: 100%;
    height: 40%;
	position:absolute;
	left:0;
	top: 1%;
	z-index:-1;
  }
  #slideshow > div{width:100%;}
  #slideshow-caption{
	  width:100%;
	  height:20%;
	  position:absolute;
	  left:0;
	  top:26%;
	  padding:0;
	  margin:0;
  }
  #slideshow-caption div{
     position:absolute;
	 left:0;
	 top:0;
	 height:15%;
  }
  #contact-box{
     width:100%;
	 position:absolute;
	 left:0;
	 bottom:37%;
	 margin:0;
	 padding:0;
  }
  /******about页面开始******/
  #content
  {
	  width:94%;
	  padding:3%;
	  margin-top:0px;
	  margin-bottom:50px;
  }
#content .mainDouble{width:100%;margin-left:0%;}
#content .mainDouble div{width:100%;margin-top:20px;}
  #content > h1,
  #content > p,
  #content > ul
  {
	  margin-left: 0px;
	  width:100%;
	  max-width: 1000px;
  }
  
  #content > h1 img,
  #content > p img
  {
	  vertical-align: baseline;	
  }
  #thirdH1{text-align:center;}
  #content > h1:nth-of-type(1) img
  {
	  height: 36px;
	  max-width:100%;
  }
  
  #content > h1 img
  {
	  height: 24px;
  }
  
  
  #content > h1
  {
	  float: none;
	  padding-right: 0.5em;
	  padding-top: 1em;
  }
  
  #content > h1 a:hover
  {
	  opacity: 0.8;
  }
  #content .linkmore a{
	  color:#369;
  }
  #content > p
  {
	  text-align: justify;
  }
  
  #content > p,
  #content > ul
  {
	  padding-bottom: 0.5em;
	  width:100%;
  }
  
  #content > h1:nth-of-type(1)+p
  {
	  padding-top: 36px;
	  padding-top: calc(36px);
  }
  
  #content > h1+p
  {
	  padding-top: 5px;
	  padding-bottom:12px;
  }
  
  #content ul
  {
	  list-style-position:inside;
	  list-style-image: url('/sinoz/bullet.png');
  }
  
  #content .image
  {
	  padding: 24px;
  }
  
  #content .image p
  {
	  font-size: 0.95em;
	  text-align: center;
  }
  
  #content .image.left
  {
	  float: left;
	  margin-left: 0px;
  }
  
  #content .image.right
  {
	  float: right;
	  margin-right: 0px;
  }
  .profile
  {
	  margin-top: 16px;
	  margin-left:0;
	  clear: both;
	  padding-bottom: 32px;
	  min-height:324px;
	  min-height: calc(300px + (32px + 16px) / 2);
  }
  
  .profile .name-image
  {
	  width: 100%;
	  height: auto;
	  float: none;
	  padding-right: 16px;
	  position:relative;
  }
  
  .profile .name-image h1
  {
	  text-align: center;
  }
  
  .profile .name-image h1 img
  {
	  background-color: white;
	  padding: 8px;
	  max-width:96%;
	  
  }
  
  .profile .name-image > img
  {
	  position: relative;
	  z-index: -1;
	  top: -25px;;
	  width:100%;
  }
  
  .profile p, .profile ul
  {
	  width: 100%;
	  text-align: justify;
	  padding-bottom: 0.5em;
  }
  
  .profile .name-image+*
  {
	  padding-top: 9px;
  }
  .contact-section
  {
  width: 100%;
  margin-top: 30px;
  margin-left:1%;
  margin-right:1%;
  clear: both;
  }
  
  .map
  {
  width: 266px;
  height: 266px;
  background-position: center center;
  border-radius: 50%;
  position: relative;
  margin:5px 15px 54px 15px;
  }
  
  .map::before
  {
  position: relative;
  top:-17px;
  left:-17px;
  content: "";
  display: block;
  width: 300px;
  height: 300px;
  background-color: #b73533;
  border-radius: 50%;
  z-index: -1;
  }
  
  #content .profile .thumbnails{width:auto;}
  #content > div{width:100%;margin-left:0;}
  #content > div img {max-width:100%;}
  #content > div > div:nth-of-type(2n){
     float:none;
	 position:inherit;
	 top:none;
	 margin-top:20px;
  }
  #content > div > div:nth-of-type(2n+1){
     float:none;
	 position:inherit;
	 top:none;
	 margin-top:20px;
  }
  #content > div > div{width:100%;}
  .resRight{padding-top: 0px;float:none; text-align:center; margin-right:5px;}
  form{margin-left:0px;margin-right:0px;width:100%;}
  .inputBox{width:50%;}
  .inputBox input{width:100%;}
  .inputBox{border:none;width:60%; background:none;float:left; overflow:hidden;max-width:1000px;}
  .inputBox textarea{border:none;width:460px;}
  form .submit{margin:1%;width:98%;}
  #content form .submit{margin:0;margin-top:10px;width:100%;}
  
  /*****homepage buttom block*****/
  .cbox-left{
	 width:42%;
	 float:left;
	 height:100%;
	 text-align:center;
	 padding-top:3.5%;
  }
  .cbox-middle{
	width:8%;
	float:left;
	text-align:center;
  }
  .cbox-middle img{
	height:100%;
	max-height:130px;
  }
  .cbox-right{
	width:100%;
	height:100%;
  }
  .regform{
	width:90%;
	padding:0;
	margin-left:0;
	margin-right:5%;
  }
  .regform > div.input {
	width:100%;
	height:20px;
	margin-bottom:2px;
  }
  .regform > div > div{
	width:30%;
	text-align:right;
  }
  .regform .inputBox{
	width:70%;
  }
  .regform .inputBox input{
	width:100%;
  }
  .regform .submit{
	float:right;
	width:70%;
	margin:0;
	padding:0;
	height:30px;
	line-height:30px;
  }
  .cbox-desc{
	width:100%;
    float:right;
	text-align:center;
	line-height:150%;
	margin-bottom:60px;
	padding-top:10px;
  }
  /*****concat form ******/
  #contentform
  {
	 margin:0;
	 padding:1%;
	 background:#FFF;
	 z-index:9999999;
	 width:96%;
	 position:absolute;
	 top:3%;
	 left:0;
	 display:none;
	 background:none;
  }
  .contactform .inputBox{width:60%;}
  #contentform .contactform{
     width:calc(100% - 16px);
	 max-width:460px;
	 margin:0 auto;
	 border:5px solid #fff;
	 z-index:999999;
  }
  #slideshow-caption > div {width:90%;}
  #slideshow-caption > div > p{width:100%;}
  p#contactMob{display:block;}
  #contactMob{
	display:block;
	width:90%;
	border: solid 1px #fff;
	border-radius:5px;
	margin:5px;
	color:#333;
	cursor:pointer;
	text-align:center;
	background-color: #b73533;
	-webkit-transition: color 100ms ease-in-out, background-color 100ms ease-in-out;
	-moz-transition: color 100ms ease-in-out, background-color 100ms ease-in-out;
	-o-transition: color 100ms ease-in-out, background-color 100ms ease-in-out;
	-ms-transition: color 100ms ease-in-out, background-color 100ms ease-in-out;
	transition: color 100ms ease-in-out, background-color 100ms ease-in-out;
  }
  #contactMob:hover{
	cursor:pointer;
	text-align:center;
	background-color: #666;
  }
  #contact-box .cbox-left{
    width:70%;
	float:left;
  }
  #contact-box .cbox-left img{width:100%;max-width:248px;}
  #contact-box .cbox-middle{
    width:30%;
	float:left;
  }
  #contact-box .cbox-right{
    width:100%;
	float:left;
	background-color:#b73533;
	padding-top:5px;
  }
  a.book-now {
  display: block;
  padding: 8px;
  background-color: #333333;
  height: 12px;
  width: 244px;
  -webkit-transition: background 250ms ease-in-out;
  -moz-transition: background 250ms ease-in-out;
  -o-transition: background 250ms ease-in-out;
  -ms-transition: background 250ms ease-in-out;
  transition: background 250ms ease-in-out;
  }
  a.book-now:hover
  {
	  background-color: #b73533;
  }
  
  a.book-now img
  {
	  vertical-align: text-top !important;
  }
  #content > div > div:nth-of-type(even)+div:last-child
  {
    position: relative;
    top: 0;
  }
  #content .image.content-right-img{padding: 0px;width:100%; margin-right:0px; float:none; text-align:center;}
  #contactform .inputBox{width:40%;}
  /*#slideshow-caption :lang(en){font-size:1.2em;}
  #contact-box :lang(en){font-size:1em;}*/
  #contact-box .regform .input{height:40px; line-height:40px;}
  #contact-box .cbox-right{height:220px;}
  #slideshow > div {background-size:100% 100%;height:60%;}
  :lang(en) {font-size:11pt;}
}
